@{
    ViewData["Title"] = "Sucesso";
}

<div class="text-center">
    <h1 class="display-4">Cadastro concluído com sucesso!</h1>
    <p>Para retornar a página principal,<a href="https://localhost:5001">clique aqui!</a>.</p>
</div>
